@page "/"

 
  <body class="bg-body" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">



    <header id="header" class="premium-header fixed-top">
        <nav id="header-nav" class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <img src="furnics-1.0.0/furnics-1.0.0/images/main-logo.png" class="logo" alt="Mermer Logo">
                </a>

                <!-- Mobile Menu Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Menüyü Aç">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Offcanvas Menu -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar">
                    <div class="offcanvas-header">
                        <a class="navbar-brand" href="/">
                            <img src="furnics-1.0.0/furnics-1.0.0/images/main-logo.png" class="logo" alt="Mermer Logo">
                        </a>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav text-uppercase ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#billboard" data-bs-dismiss="offcanvas">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about-us" data-bs-dismiss="offcanvas">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#featured-products" data-bs-dismiss="offcanvas">Ürünler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#collections" data-bs-dismiss="offcanvas">En Sevilen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#latest-blog" data-bs-dismiss="offcanvas">Trend</a>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>
        </nav>
    </header>
  




    <br/>
    <br/>
    <br/>

    <section id="billboard" class="overflow-hidden">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                                <div class="banner-item" style="background-image: url(furnics-1.0.0/furnics-1.0.0/images/banner-image1.jpg); background-repeat: no-repeat; background-position: right; height: 682px;">
                    <div class="banner-content padding-large">
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                      <h1 class="display-1 text-uppercase text-dark pb-2">wooden table set</h1>
                      <p>Aliquet donec ut arcu risus amet mattis diam gravida. Ac vestibulum quis proin in aliquam et et auctor. Amet urna est arcu euismod egestas morbi nunc lacus. Nec id rutrum mauris commodo habitant amet quisque. Velit ornare pellentesque facilisi in odio nibh.</p>                      
                    
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="swiper-pagination position-absolute"></div>
    </section>

    <section id="company-services" class="padding-large">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex align-items-center">
                        <div class="icon-box-icon pt-3 pe-3 pb-3 ps-3">
                            <img src="furnics-1.0.0/furnics-1.0.0/images/go.png" alt="" style="width:40px; height:40px; object-fit:cover;">
                        </div>
                        <div class="icon-box-content ps-3">
                            <h3 class="card-title text-uppercase text-dark">Quick delivery</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex align-items-center">
                        <div class="icon-box-icon pt-3 pe-3 pb-3 ps-3">
                            <img src="images/pickup.jpg" alt="" style="width:40px; height:40px; object-fit:cover;">
                        </div>
                        <div class="icon-box-content ps-3">
                            <h3 class="card-title text-uppercase text-dark">Pick up in store</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex align-items-center">
                        <div class="icon-box-icon pt-3 pe-3 pb-3 ps-3">
                            <img src="images/packaging.jpg" alt="" style="width:40px; height:40px; object-fit:cover;">
                        </div>
                        <div class="icon-box-content ps-3">
                            <h3 class="card-title text-uppercase text-dark">Special Packaging</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex align-items-center">
                        <div class="icon-box-icon pt-3 pe-3 pb-3 ps-3">
                            <img src="images/return.jpg" alt="" style="width:40px; height:40px; object-fit:cover;">
                        </div>
                        <div class="icon-box-content ps-3">
                            <h3 class="card-title text-uppercase text-dark">Return & refund policy</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="about-us">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between g-5">
                <div class="col-lg-6">
                    <!-- Jarallax Wrapper -->
                    <div class="image-holder mb-4 jarallax" data-speed="0.5">
                        <img src="furnics-1.0.0/furnics-1.0.0/images/single-image1.jpg" alt="single" class="jarallax-img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail p-5">
                        <div class="display-header">
                            <h2 class="display-2 text-uppercase text-dark pb-2">About Us</h2>
                            <p class="pb-3">
                                Ac varius lectus tellus tellus quisque tristique aenean. Volutpat velit nulla eu iaculis risus in urna.
                                Eu morbi vel purus velit dui vel egestas purus sed. Eget turpis tincidunt faucibus montes arcu in nullam
                                tortor orci. Nulla tellus sed purus vestibulum sagittis pretium donec nec mattis ollis porta sit ut.
                            </p>
                            <p>
                                Facilisi ut vulputate volutpat a aliquet. Facilisis sed quis pretium amet hac. Justo tristique sagittis
                                sodales viverra venenatis integer fringilla.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="featured-products" class="product-store position-relative padding-large">
        <div class="container-fluid">
            <div class="row">
                <div class="display-header pb-3 d-flex justify-content-between flex-wrap col-md-12">
                    <h2 class="display-2 text-dark text-uppercase">Our Featured Products</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="swiper featured-swiper">
                        <div class="swiper-wrapper">
                            <!-- Slide 1 -->
                            <div class="swiper-slide">
                                <div class="product-card d-flex flex-wrap">
                                    <div class="image-holder" style="width:450px; height:450px;">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item1.jpg" alt="product-item" class="product-image img-fluid" style="object-fit:cover; width:100%; height:100%;">
                                    </div>
                                    <div class="cart-concern">
                                        <h3 class="card-title text-uppercase pt-3 text-primary">Minimal Sofa</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 2 -->
                            <div class="swiper-slide">
                                <div class="product-card d-flex flex-wrap">
                                    <div class="image-holder" style="width:450px; height:450px;">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item2.jpg" alt="product-item" class="product-image img-fluid" style="object-fit:cover; width:100%; height:100%;">
                                    </div>
                                    <div class="cart-concern">
                                        <h3 class="card-title text-uppercase pt-3 text-primary">Pattern Tea Table</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 3 -->
                            <div class="swiper-slide">
                                <div class="product-card d-flex flex-wrap">
                                    <div class="image-holder" style="width:450px; height:450px;">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item3.jpg" alt="product-item" class="product-image img-fluid" style="object-fit:cover; width:100%; height:100%;">
                                    </div>
                                    <div class="cart-concern">
                                        <h3 class="card-title text-uppercase pt-3 text-primary">Black Sofa Set</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 4 -->
                            <div class="swiper-slide">
                                <div class="product-card d-flex flex-wrap">
                                    <div class="image-holder" style="width:450px; height:450px;">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item4.jpg" alt="product-item" class="product-image img-fluid" style="object-fit:cover; width:100%; height:100%;">
                                    </div>
                                    <div class="cart-concern">
                                        <h3 class="card-title text-uppercase pt-3 text-primary">Minimal Sofa</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 5 -->
                            <div class="swiper-slide">
                                <div class="product-card d-flex flex-wrap">
                                    <div class="image-holder" style="width:450px; height:450px;">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item5.jpg" alt="product-item" class="product-image img-fluid" style="object-fit:cover; width:100%; height:100%;">
                                    </div>
                                    <div class="cart-concern">
                                        <h3 class="card-title text-uppercase pt-3 text-primary">Wooden Chair Set</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide 6 -->
                            <div class="swiper-slide">
                                <div class="product-card d-flex flex-wrap">
                                    <div class="image-holder" style="width:450px; height:450px;">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item6.jpg" alt="product-item" class="product-image img-fluid" style="object-fit:cover; width:100%; height:100%;">
                                    </div>
                                    <div class="cart-concern">
                                        <h3 class="card-title text-uppercase pt-3 text-primary">Modern Armchair</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="swiper-pagination text-center mt-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="marketing-slider" class="position-relative py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center">
                    <h2 class="display-4 text-dark">Neden Bizim Mermerimiz?</h2>
                    <p class="text-muted">Kalite ve şıklığı evinize taşıyan çözümler</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 position-relative">
                    <!-- Swiper -->
                    <div class="swiper marketing-swiper">
                        <div class="swiper-wrapper">
                            <!-- Slide 1 -->
                            <div class="swiper-slide d-flex justify-content-center">
                                <div class="slide-item text-center">
                                    <h3 class="text-primary mb-3">Doğal Mermer Şıklığı</h3>
                                    <p class="text-secondary fs-5">
                                        Evinizin her köşesine doğal ve eşsiz mermer dokusunu taşıyoruz. Kaliteyi hissedin!
                                    </p>
                                </div>
                            </div>

                            <!-- Slide 2 -->
                            <div class="swiper-slide d-flex justify-content-center">
                                <div class="slide-item text-center">
                                    <h3 class="text-primary mb-3">Uzun Ömürlü Dayanıklılık</h3>
                                    <p class="text-secondary fs-5">
                                        Dayanıklı ve uzun ömürlü mermer yüzeylerimiz ile estetik ve fonksiyonellik bir arada.
                                    </p>
                                </div>
                            </div>

                            <!-- Slide 3 -->
                            <div class="swiper-slide d-flex justify-content-center">
                                <div class="slide-item text-center">
                                    <h3 class="text-primary mb-3">Özel Tasarım Seçenekleri</h3>
                                    <p class="text-secondary fs-5">
                                        İhtiyacınıza uygun özel ölçü ve tasarım seçenekleri ile mekanınıza uyum sağlar.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Navigation -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <br/>
                        <br/>
                        <!-- Pagination (inline style ile aşağıya alındı) -->
                        <div class="swiper-pagination mt-4" style="position: absolute; bottom: 10px; left: 0; width: 100%;"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="collections" class="position-relative padding-large">
        <div class="container-fluid">
            <div class="row">
                <div class="swiper collection-swiper">
                    <div class="swiper-wrapper">

                        <!-- Slide 1 -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="product-card">
                                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                    <h3 class="card-title text-uppercase">
                                        <a href="shop.html">Living Rooms</a>
                                    </h3>
                                </div>
                                <div class="image-overlay position-relative">
                                    <div class="product-image">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item5.jpg" alt="product-item" class="product-image img-fluid">
                                        <div class="text-box box-slide position-absolute" style="opacity:0; transition:0.4s; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.9);">
                                            <div class="text-content p-5">
                                                <h3>About Room</h3>
                                                <p>Assumenda temporibus quidem ipsam. fuga corporis iusto similique voluptates sint quibusdam.</p>
                                                <ul>
                                                    <li>Various Types of Bedroom</li>
                                                    <li>Different Size of Bed</li>
                                                    <li>Comfortable and Clean Room</li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 2 -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="product-card">
                                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                    <h3 class="card-title text-uppercase">
                                        <a href="shop.html">Bed Rooms</a>
                                    </h3>
                                </div>
                                <div class="image-overlay position-relative">
                                    <div class="product-image">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item6.jpg" alt="product-item" class="product-image img-fluid">
                                        <div class="text-box box-slide position-absolute" style="opacity:0; transition:0.4s; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.9);">
                                            <div class="text-content p-5">
                                                <h3>About Room</h3>
                                                <p>Assumenda temporibus quidem ipsam. fuga corporis iusto similique voluptates sint quibusdam.</p>
                                                <ul>
                                                    <li>Various Types of Bedroom</li>
                                                    <li>Different Size of Bed</li>
                                                    <li>Comfortable and Clean Room</li>
                                                </ul>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 3 -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="product-card">
                                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                    <h3 class="card-title text-uppercase">
                                        <a href="shop.html">Kitchens</a>
                                    </h3>
                                </div>
                                <div class="image-overlay position-relative">
                                    <div class="product-image">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item7.jpg" alt="product-item" class="product-image img-fluid">
                                        <div class="text-box box-slide position-absolute" style="opacity:0; transition:0.4s; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.9);">
                                            <div class="text-content p-5">
                                                <h3>About Kitchen</h3>
                                                <p>Assumenda temporibus quidem ipsam. fuga corporis iusto similique voluptates sint quibusdam.</p>
                                                <ul>
                                                    <li>Various Types of Bedroom</li>
                                                    <li>Different Size of Bed</li>
                                                    <li>Comfortable and Clean Room</li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 4 -->
                        <div class="swiper-slide overflow-hidden">
                            <div class="product-card">
                                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                    <h3 class="card-title text-uppercase">
                                        <a href="shop.html">Guest Rooms</a>
                                    </h3>
                                </div>
                                <div class="image-overlay position-relative">
                                    <div class="product-image">
                                        <img src="furnics-1.0.0/furnics-1.0.0/images/product-item8.jpg" alt="product-item" class="product-image img-fluid">
                                        <div class="text-box box-slide position-absolute" style="opacity:0; transition:0.4s; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.9);">
                                            <div class="text-content p-5">
                                                <h3>About Kitchen</h3>
                                                <p>Assumenda temporibus quidem ipsam. fuga corporis iusto similique voluptates sint quibusdam.</p>
                                                <ul>
                                                    <li>Various Types of Bedroom</li>
                                                    <li>Different Size of Bed</li>
                                                    <li>Comfortable and Clean Room</li>
                                                </ul>
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br/>
                    <br/>
                    <!-- Pagination -->
                    <div class="swiper-pagination position-absolute text-center" style="bottom:10px; left:0; width:100%;"></div>
                </div>
            </div>
        </div>
    </section>

   

    <section id="latest-blog">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="display-header d-flex flex-wrap justify-content-between pb-3">
              <h2 class="display-2 text-dark text-uppercase">Read Our Articles</h2>
             
            </div>
          </div>
        </div>
        <div class="row g-3 post-grid">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card-item">
              <div class="card border-0 bg-transparent">
                <div class="card-image">
                                <img src="furnics-1.0.0/furnics-1.0.0/images/post-item1.jpg" alt="" class="post-image img-fluid">
                </div>
              </div>
              <div class="card-body p-0 mt-4">
                <h3 class="card-title text-uppercase">
                  <a href="#">Best looking interior things for bedrooms</a>
                </h3>
                <p>Enim ut nunc, ultrices mauris felis viverra amet. Ante sed dictum nisi suscipit ac ut faucibus pretium interdum.</p>
               
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card-item">
              <div class="card border-0">
                <div class="card-image">
                                <img src="furnics-1.0.0/furnics-1.0.0/images/post-item2.jpg" alt="" class="post-image img-fluid">
                </div>
              </div>
              <div class="card-body p-0 mt-4">
                <h3 class="card-title text-uppercase">
                                <a href="#">Trending modern furniture design in 2022</a>
                </h3>
                <p>Enim ut nunc, ultrices mauris felis viverra amet. Ante sed dictum nisi suscipit ac ut faucibus pretium interdum.</p>
               
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
            <div class="card-item">
              <div class="card border-0">
                <div class="card-image">
                                <img src="furnics-1.0.0/furnics-1.0.0/images/post-item3.jpg" alt="" class="post-image img-fluid">
                </div>
              </div>
              <div class="card-body p-0 mt-4">
                <h3 class="card-title text-uppercase">
                  <a href="#">Why is simple firniture design looks fabulous</a>
                </h3>
                <p>Enim ut nunc, ultrices mauris felis viverra amet. Ante sed dictum nisi suscipit ac ut faucibus pretium interdum.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="brand-collection" class="padding-small border-top border-bottom overflow-hidden margin-large mb-0">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">
                <a href="#"><img src="furnics-1.0.0/furnics-1.0.0/images/brand-logo-1.svg" alt="brand"></a>
                <a href="#"><img src="furnics-1.0.0/furnics-1.0.0/images/brand-logo-2.svg" alt="brand"></a>
                <a href="#"><img src="furnics-1.0.0/furnics-1.0.0/images/brand-logo-3.svg" alt="brand"></a>
                <a href="#"><img src="furnics-1.0.0/furnics-1.0.0/images/brand-logo-4.svg" alt="brand"></a>
                <a href="#"><img src="furnics-1.0.0/furnics-1.0.0/images/brand-logo-5.svg" alt="brand"></a>
        </div>
      </div>
    </section>

    <footer id="footer" class="bg-light text-dark pt-5 pb-3">
        <div class="container">
            <div class="row gy-4">

                <!-- Logo & Hakkında -->
                <div class="col-lg-4 col-md-6">
                    <img src="furnics-1.0.0/furnics-1.0.0/images/main-logo.png" alt="logo" class="mb-3" style="max-width:180px;">
                    <p class="small">
                        Doğal taşın zarafetini yaşam alanlarınıza taşıyoruz. Yıllardır kalite ve estetikten ödün vermeden,
                        mermer işçiliğinde güvenilir çözüm ortağınız olduk.
                    </p>
                    <p class="small mb-0">&copy; 2025 Mermerci Tüm Hakları Saklıdır.</p>
                </div>

                <!-- Hızlı Menü -->
                <div class="col-lg-2 col-md-6">
                    <h6 class="text-uppercase fw-bold mb-3">Hızlı Menü</h6>
                    <ul class="list-unstyled small">
                        <li class="mb-2"><a href="#billboard" class="text-dark text-decoration-none">Ana Sayfa</a></li>
                        <li class="mb-2"><a href="#about-us" class="text-dark text-decoration-none">Hakkımızda</a></li>
                        <li class="mb-2"><a href="#company-services" class="text-dark text-decoration-none">Hizmetler</a></li>
                        <li class="mb-2"><a href="#latest-blog" class="text-dark text-decoration-none">Blog</a></li>
                        <li><a href="#contact" class="text-dark text-decoration-none">İletişim</a></li>
                    </ul>
                </div>

                <!-- Sosyal Medya -->
                <div class="col-lg-3 col-md-6">
                    <h6 class="text-uppercase fw-bold mb-3">Bizi Takip Edin</h6>
                    <ul class="list-unstyled small">
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Facebook</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Instagram</a></li>
                        <li class="mb-2"><a href="#" class="text-dark text-decoration-none">LinkedIn</a></li>
                        <li><a href="#" class="text-dark text-decoration-none">YouTube</a></li>
                    </ul>
                </div>

                <!-- İletişim -->
                <div class="col-lg-3 col-md-6">
                    <h6 class="text-uppercase fw-bold mb-3">İletişim</h6>
                    <p class="small mb-1">📞 <a href="tel:+903122222222" class="text-dark text-decoration-none">+90 312 222 22 22</a></p>
                    <p class="small mb-1">📧 <a href="mailto:info@mermerci.com" class="text-dark text-decoration-none">info@mermerci.com</a></p>
                    <p class="small mb-0">🏢 Organize Sanayi Bölgesi, Ankara / Türkiye</p>
                </div>

            </div>

            <hr class="border-secondary my-4">

            <!-- Alt Kısım -->
            <div class="row">
                <div class="col text-center">
                    <p class="small mb-0">Sevgi ❤️ ile yapıldı | Premium Mermer Sitesi</p>
                </div>
            </div>
        </div>
    </footer>


    <script>
        jarallax(document.querySelectorAll('.jarallax'), {
          speed: 0.5
        });

               const swiper = new Swiper('.featured-swiper', {
          slidesPerView: 4,
          spaceBetween: 30,
          loop: true,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          breakpoints: {
            0: { slidesPerView: 1 },
            576: { slidesPerView: 2 },
            992: { slidesPerView: 4 },
          },
        });

               const marketingSwiper = new Swiper('.marketing-swiper', {
          loop: true,
          autoplay: {
            delay: 5000,
            disableOnInteraction: false,
          },
          slidesPerView: 1,
          spaceBetween: 30,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        });

                           const collectionSwiper = new Swiper('.collection-swiper', {
          loop: true,
          slidesPerView: 1,
          spaceBetween: 30,
          autoplay: {
            delay: 4000,
            disableOnInteraction: false,
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          breakpoints: {
            768: { slidesPerView: 2 },
            1200: { slidesPerView: 3 },
          },
        });

        // Hover ile text-box görünürlük
        document.querySelectorAll('.product-card').forEach(card => {
          const textBox = card.querySelector('.text-box');
          card.addEventListener('mouseenter', () => textBox.style.opacity = '1');
          card.addEventListener('mouseleave', () => textBox.style.opacity = '0');
        });



                document.querySelectorAll('.offcanvas .nav-link').forEach(link => {
          link.addEventListener('click', function(e) {
            const targetId = this.getAttribute('href');
            if (targetId.startsWith('#')) {
              e.preventDefault();
              const targetEl = document.querySelector(targetId);
              if (targetEl) {
                targetEl.scrollIntoView({ behavior: 'smooth' });
              }
            }
          });
        });
    </script>



  </body>